body,html {
    height: 100%;
    margin: 0;
    font-family: OrangeAve;
    background-color: #d6e6f2;
}

/* FONTS */

@font-face {
    font-family: OrangeAve;
    src: url(../fonts/OrangeAvenueDEMO-Regular.otf);
}

/* --- START OF HEADER --- */

.head {
    height: 6%;
    margin: 0;
    position: sticky;
    top: 0px;
    z-index:1; 
}
.nav {
    height: 100%;
    background-color: #769fcd;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d6e6f2;
}
.navlogo {
    height:80%;
    padding-left: 10px;
}
.navlinks {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
}
.navlinks button {
    height: 100%;
    margin-left: 4em;
    display: flex;
    line-height: 2em;
    background: none;
    border: 0;
    border-bottom: 2px solid transparent;
    color: white;
    font-weight: normal;
    font-size: 20px;
    font-family: OrangeAve;
    cursor: pointer;
}
.navlinks #link:hover {
    color: #d6e6f2;
    border-bottom: 2px solid #d6e6f2;
}
.navlinks #link.active {
    border-bottom: 2px solid white;
}
.navlinks #hamburger {
    display: none;
}
.navmobile {
    display: none;
}

/* ----- START OF MAIN ----- */



/* --- FORMATTING FOR PHONE / SMALL SCREEN --- */

@media screen and (max-width: 768px) {
    .navlinks #link {
        display: none;
    }
    .navlinks {
        display: flex;
        justify-content: right;
    }
    .navlinks #hamburger {
        display: flex;
        align-items: center;
    }
    .navmobile.active {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;
        background-color: white;
    }
    #mobilelink {
        display: flex;
        padding: 0.7em;
        float: right;
        height: 3em;
        width: 100%;
        align-items: center;
        font-family: OrangeAve;
        font-weight:bolder;
        color: black;
        background-color: white;
        font-size: 1.4em;
        border: none;
        border: 1px solid rgb(176, 176, 176);
        border-radius: 5px;
    }
    #mobilelink:hover {
        background-color:#769fcd;
        color: white;
        cursor: pointer;
    }
    #mobilelink.active {
        background-color: #dedede;
        border: 1px solid black;
    }
    #mobilelink.active:hover {
        background-color: #769fcd;
        color: white;
    }
}