body,html {
    height: 100%;
    margin: 0;
    font-family: OrangeAve;
    background-color: #d6e6f2;
}

/* FONTS */

@font-face {
    font-family: OrangeAve;
    src: url(../fonts/OrangeAvenueDEMO-Regular.otf);
}
@font-face {
    font-family: Perfecto;
    src: url(../fonts/PerfectoCalligraphy.ttf);
}

/* --- START OF HEADER AND HEROIMG --- */

.heroimg {
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../images/hero.jpg");
    position: sticky;
}
.herotext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px black;
    font-size: 55px;
}
.head {
    height: 6%;
    margin: 0;
    position: sticky;
    top: 0px;
    z-index:1; 
}
.nav {
    height: 100%;
    background-color: #769fcd;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d6e6f2;
}
.navlogo {
    height:80%;
    padding-left: 10px;
}
.herotext h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Perfecto;
}
.navlinks {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
}
.navlinks button {
    height: 100%;
    margin-left: 4em;
    display: flex;
    line-height: 2em;
    background: none;
    border: 0;
    border-bottom: 2px solid transparent;
    color: white;
    font-weight: normal;
    font-size: 20px;
    font-family: OrangeAve;
    cursor: pointer;
}

.navlinks #link:hover {
    color: #d6e6f2;
    border-bottom: 2px solid #d6e6f2;
}
.navlinks #link.active {
    border-bottom: 2px solid white;
}
.navlinks #hamburger {
    display: none;
}

/* ------- START OF MAIN ------- */

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .date {
    margin: 1em;
    font-size: 2em;
}
.main p {
    margin: 2em;
}
.main hr {
    width: 10em;
    background-color: black;
    border: none;
    height: 0.1em;
    margin-bottom: 2em;
}
.main .wrapper {
    width: fit-content;
    margin: 1em;
    border: 5px double black;
    text-align: center;
}

/* --- FORMATTING FOR PHONE / SMALL SCREEN --- */

@media screen and (max-width: 768px) {
    .heroimg {
        height: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");

    }
    .herotext {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        font-size: x-large;
    }
    .navlinks #link {
        display: none;
    }
    .navlinks {
        display: flex;
        justify-content: right;
    }
    .navlinks #hamburger {
        display: flex;
        align-items: center;
    }
}