body,html {
    height: 100%;
    margin: 0;
    font-family: Kugile;
    background-color: #d6e6f2;
}
@font-face {
    font-family: Kugile;
    src: url(Kugile_Demo.ttf);
}
@font-face {
    font-family: Perfecto;
    src: url(PerfectoCalligraphy.ttf);
}

.heroimg {
    height: 80%;
    border-top: 2px solid #b9d7ea;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
<<<<<<< HEAD
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("hero.jpg");
=======
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("hero.jpg");
>>>>>>> a6990f0 (first rough design of homepage - still much to do)
        
}
.herotext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
}
.nav {
    height: 6%;
    background-color: #769fcd;
    display: flex;
    align-items: center;
}
.navlogo {
    height:80%;
    padding-left: 10px;
    
}
.herotext h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Perfecto;
}
.navlinks {
    display: flex;
    width: 100%;
    padding-top: 0.5em;
}
.navlinks h1 {
    margin-left: 4em;
    display: flex;
    color: white;
    font-weight: normal;
    font-size: 20px;
}
.navlinks button {
    display: none;
}
@media screen and (max-width: 768px) {
    .heroimg {
        height: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
<<<<<<< HEAD
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("hero.jpg");
=======
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("hero.jpg");
>>>>>>> a6990f0 (first rough design of homepage - still much to do)

    }
    .herotext {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        font-size: x-large;
    }
    .navlinks h1{
        display:none;
    }
    .navlinks {
        display: flex;
        justify-content: right;
    }
    .navlinks button {
        display: block;
    }
}